.bc-blc{background-color:black;}
.bc-blu{background-color:blue;}
.bc-brw{background-color:brown;}
.bc-cyn{background-color:cyan;}
.bc-gld{background-color:gold;}
.bc-gry{background-color:gray;}
.bc-grn{background-color:green;}
.bc-khk{background-color:khaki;}
.bc-mgn{background-color:magenta;}
.bc-orn{background-color:orange;}
.bc-orc{background-color:orchid;}
.bc-pnk{background-color:pink;}
.bc-prp{background-color:purple;}
.bc-red{background-color:red;}
.bc-slm{background-color:salmon;}
.bc-slv{background-color:silver;}
.bc-tan{background-color:tan;}
.bc-tal{background-color:teal;}
.bc-trq{background-color:turquoise;}
.bc-vlt{background-color:violet;}
.bc-wht{background-color:white;}
.bc-ylw{background-color:yellow;}
.c-blc{color:black;}
.c-blu{color:blue;}
.c-brw{color:brown;}
.c-cyn{color:cyan;}
.c-gld{color:gold;}
.c-gry{color:gray;}
.c-grn{color:green;}
.c-khk{color:khaki;}
.c-mgn{color:magenta;}
.c-orn{color:orange;}
.c-orc{color:orchid;}
.c-pnk{color:pink;}
.c-prp{color:purple;}
.c-red{color:red;}
.c-slm{color:salmon;}
.c-slv{color:silver;}
.c-tan{color:tan;}
.c-tal{color:teal;}
.c-trq{color:turquoise;}
.c-vlt{color:violet;}
.c-wht{color:white;}
.c-ylw{color:yellow;}
.brdc-blc{border-color:black;}
.brdc-blu{border-color:blue;}
.brdc-brw{border-color:brown;}
.brdc-cyn{border-color:cyan;}
.brdc-gld{border-color:gold;}
.brdc-gry{border-color:gray;}
.brdc-grn{border-color:green;}
.brdc-khk{border-color:khaki;}
.brdc-mgn{border-color:magenta;}
.brdc-orn{border-color:orange;}
.brdc-orc{border-color:orchid;}
.brdc-pnk{border-color:pink;}
.brdc-prp{border-color:purple;}
.brdc-red{border-color:red;}
.brdc-slm{border-color:salmon;}
.brdc-slv{border-color:silver;}
.brdc-tan{border-color:tan;}
.brdc-tal{border-color:teal;}
.brdc-trq{border-color:turquoise;}
.brdc-vlt{border-color:violet;}
.brdc-wht{border-color:white;}
.brdc-ylw{border-color:yellow;}